body{
    display: grid;
    cursor: url("../img/kunai\ \(1\).png"), default;
    background-color: gray;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
grid-template-columns: 25.2vw 24.5vw 24.5vw 24.5vw;
grid-template-rows: 8vh 100vh 50vh 8vh;
margin: 0;
}

body::-webkit-scrollbar{
    width: 0px;
    background: transparent: 
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
    background-image: url("../img/akatsuki_stickers_by_fir3h34rt-d8kpogb.png");
    background-size: cover;
}

nav{     
    align-items: center;
    background-color: rgb(22, 22, 22);
    grid-area: nav;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: space-around; 
    position: fixed;
    right: 0;
    width: 100vw;
    
 
}

nav a{
    color: white;
    text-decoration: none;
}

nav img {   
    height: 6vh;
    border-radius: 100px;
}

nav img:hover{
    box-shadow: 2px 1px 5px red;
}

nav a:hover{
    font-size: 20px;
    color: red;
    cursor: url("../img/kunai\ \(1\).png"), default;
    box-shadow: 1px 5px 5px red;
    
}

section{
    grid-area: section;
}

aside h2{
    color: rgb(150, 2, 2);
    display: flex;
    justify-content: center;
}

aside p{
    padding: 0px 15px;
}