body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 30vh 50vh 8vh;
margin: 0;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

nav{     
    align-items: center;
    background-color: rgb(22, 22, 22);
    grid-area: nav;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: space-around;
 
}

nav a{
    color: white;
    text-decoration: none;
}

nav img {   
    height: 6vh;
}

nav a:hover{
    font-size: 20px;
    color: red;
}

section{
    grid-area: section;
}

